{% extends "::base.html.twig" %}
{% block title %}Module Produit{% endblock %}

{% block body %}
<h2>Les Produits</h2> <a href="{{ path('ipez_product_create') }}"><button type="button" class="btn btn-primary">Ajouter un Produit</button></a>
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Nom Commercial</th>
            <th>Référence</th>
            <th>Catégorie</th>
            <th>Stock</th>
            <th>Top Ventes</th> 
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
            {% for object in products %}
        <tr>
            <td>{{ object.tradeName}}</td>
            <td>{{ object.reference}}</td>
            <td>    
                {% for value in types %}
                    {% if (object.type == value.id) %}
                        {{ value.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>{{ object.cI}}</td>
            {% if ( object.salesParty == 2) %}
                     <td>Top</td>
            {% elseif ( object.salesParty == 1) %}
                     <td>Oui</td>
            {% else %}
                     <td>Non</td>                  
            {% endif %} 
            <td><a href="{{ path('ipez_product_update', {'id': object.id}) }}">
                    <span class="glyphicon glyphicon-pencil"></span></a> 
                <a href="{{ path('ipez_product_add_feature', {'id': object.id}) }}">
                    <span class="glyphicon glyphicon-edit"></span></a> 
                <a href="{{ path('ipez_product_delete', {'id': object.id}) }}" 
                   onclick="return(confirm('Etes-vous sûr de vouloir supprimer ce produit?'));">
                    <span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
            {% endfor %}
    </tbody>
</table>
{% endblock %}