{% extends "::base.html.twig" %}
{% block title %}Modification Produit - Module Produit{% endblock %}

{% block body %}
<form action="{{ path('ipez_product_update', {'id': product.id}) }}" method="post" class="form-horizontal jumbotron">
    <fieldset>
        <legend><h2>Modification Produit</h2></legend>
        <div class="form-group">
            <label for="inputReference" class="col-lg-2 control-label">Référence Produit</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" name ="reference" id="inputReference" placeholder="Reference" value="{{product.reference}}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputTradeName" class="col-lg-2 control-label">Nom Commercial Produit</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="tradeName" id="inputTradeName" placeholder="Nom Commercial" value="{{product.tradeName}}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputCI" class="col-lg-2 control-label">Stock Produit</label>
            <div class="col-lg-2">
                <input type="text" class="form-control" name="cI" id="inputCI" placeholder="Stock" value="{{product.cI}}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputType" class="col-lg-2 control-label">Catégorie Produit</label>
            <div class="col-lg-2">
                <select id="inputType" class="form-control" name="type">
                    {% for object in types %}
                        {% if ( object.id == product.type) %}
                             <option SELECTED value="{{ object.id }}">{{ object.name }}</option>
                        {% else %}
                             <option value="{{ object.id }}">{{ object.name }}</option>
                        {% endif %}  
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputUrlImg" class="col-lg-2 control-label">Image</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" name="urlImg" id="inputUrlImg" placeholder="Image" value="{{product.urlImg}}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputSalesParty" class="col-lg-2 control-label">Top Ventes</label>
            <div class="col-lg-2">
                <select id="inputSalesParty" class="form-control" name="salesParty">

                {% if ( product.salesParty == 2) %}
                     <option SELECTED value="2">Top</option>
                     <option value="1">Oui</option>
                     <option value="0">Non</option>
                {% elseif ( product.salesParty == 1) %}
                     <option SELECTED value="1">Oui</option>
                     <option value="2">Top</option>
                     <option value="0">Non</option>
                {% else %}
                     <option SELECTED value="0">Non</option>
                     <option value="2">Top</option>
                     <option value="1">Oui</option>                    
                {% endif %} 
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-default">Annuler</button>
                <button type="submit" class="btn btn-primary">Modifier</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}