{% extends "::base.html.twig" %}
{% block title %}Module Evenement{% endblock %}

{% block body %}
<h2>Les Evenements</h2> <a href="{{ path('ipez_party_create') }}"><button type="button" class="btn btn-primary">Créer un Evénement</button></a>
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Nom Evenement</th>
            <th>Lieu</th>
            <th>Nombre Demande</th>
            <th>Participant</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for object in parties %}
        <tr>
            <td>{{ object.name }}</td>
            <td>{{ object.town }}</td>
            <td>
                {% set count = 0 %}
                {% for part in participation %}
                    {% if part.partyId == object.id and part.confirm == 0 %}
                        {% set count = count + 1 %}
                    {% endif %}
                {% endfor %}
                {{ count }}
            </td>
            <td>
                {% set count = 0 %}
                {% for part in participation %}
                    {% if part.partyId == object.id and part.confirm == 1 %}
                        {% set count = count + 1 %}
                    {% endif %}
                {% endfor %}
                {{ count }}
            </td>
            <td>{{ object.date | date('d/m/Y') }}</td>
            <td><a href="{{ path('ipez_party_update', {'id': object.id}) }}">
                    <span class="glyphicon glyphicon-pencil"></span></a>
                <a href="{{ path('ipez_party_confirm', {'partyId': object.id}) }}" 
                   onclick="return(confirm('Etes-vous sûr de vouloir lancer les invitations?'));">
                    <span class="glyphicon glyphicon-envelope"></span></a>
                <a href="{{ path('ipez_party_delete', {'id': object.id}) }}"
                   onclick="return(confirm('Etes-vous sûr de vouloir supprimer cette évènement ?'));">
                    <span class="glyphicon glyphicon-trash"></span></a> 
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}